@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

:root{

  --cor-primaria:#8C503A;
  --cor-secundaria:#024059;
  --cor-terciaria:cyan;
  --cor-quartenaria: #D9CCC1;
  --h1-font:'Major Mono Display', sans-serif;
  --p-font:'Oswald', sans-serif;
}

*{
  padding: 0;
  margin: 0;
}

body{
  background-image: linear-gradient(to top rgb(24, 24, 24), black);
  height: 100vh;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--cor-primaria);
}

.cabecalho{
  font-family: var(--h1-font);
  padding: 2.5rem;
}

.cabecalho__principal{
  color: var(--cor-quartenaria);
  padding: 2rem;
}

.cabecalho__button{
  border: 0.1rem solid var(--cor-primaria);
  padding: 1rem;
  text-decoration: none;
  color: var(--cor-terciaria);
  text-align: center;
  border-radius: 1rem;
}

.cabecalho__button:hover{
  background-color: var(--cor-primaria);
}
.mid__text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #00000060;
  padding: 2em;
  font-size: large;
  border-radius: 2rem;
}

.mid__text__about, .about__me_project{
  border: 0.1rem solid var(--cor-primaria);
  padding: 2rem;
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  margin: 0 20rem 5rem;
}

.mid__text__principal{
 font-family: var(--h1-font);
 padding: 2rem;
 
}

.mid__text__maior{
  color: var(--cor-quartenaria);
  text-decoration: underline;
}

.mid__picture{
  text-align: center;
  border: 0.2em solid var(--cor-quartenaria);
  border-radius: 0.2rem;
  size: 10%;
}

.mid__text__paragraf{
  font-family: var(--p-font);
  text-align: center;
  display: flex;
  flex-direction: column;
  text-decoration: underline;
}

.footer__dec{
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.footer__link{
  color: var(--cor-terciaria);
  text-decoration: none;
  border: solid 0.2rem var(--cor-primaria);
  padding: 0.5rem;
  border-radius: 1rem;
}

.footer__link:hover{
  background-color: var(--cor-primaria);
}

.mid__text__list{
  list-style: decimal;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.mid__flex{
  padding: 1rem;
}

.mid__text__list{
  font-size: var(--h1-font);
  font-weight: bolder;
  margin: 2rem;
  color: var(--cor-terciaria);
}

.mid__text__pic{
  display: flex;
 justify-content: flex-start;
  width: 15rem;
  height: 15rem;
  border-radius: 2rem;
  border: 0.6rem double var(--cor-secundaria);

}

.about__principal{
  font-family: var(--h1-font);
}

.about__paragrafo{
  font-family: var(--p-font);
  font-weight: bold;
}

.about__me_project{
  display: flex;
  flex-direction: column;
}

.projects__about{
  margin: auto;
}

.footer{
  border: var(--cor-secundaria) Solid 0.5rem;
  color: var(--cor-terciaria);
}

@media (max-width:1108px){


  .cabecalho__button{
    display: flex; 
    border-radius: 1rem;
  }

  .mid__text__about{
    border: 0.1rem solid var(--cor-primaria) ;
    text-decoration: none;
    text-align: center;
    display: block;
    justify-content: flex-end;
    margin: auto;
  }

  .about__paragrafo{
    font-family: var(--p-font);
    font-weight: bold;
  }

  .mid__text__pic{
    display: flex;
 justify-content: flex-start;
  width: 8rem;
  height: 8rem;
  border-radius: 2rem;
  border: 0.6rem double var(--cor-secundaria);
  }

  .mid{
    margin: 1rem;
  }

  .about__me_project{
    margin: auto;
    
  }

  }